[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.23.5"
pyyaml = "*"
pandas = "*"
openpyxl = "*"
matplotlib = "*"
streamlit = "*"
sqlalchemy = "*"
sycopg2 = "==2.7.2"
matplotlib-venn = "*"
venn = "*"

[dev-packages]

[requires]
python_version = "3.9"
